body {
    margin: 0;
    overflow: hidden;
}

canvas {
    background-color: #08f;
    display: block;
    image-rendering: optimizespeed;
    image-rendering: pixelated;
}

#container {
    height: 540px;
    transform-origin: 0 0;
    width: 960px;
}
